.wrapper {
    margin: 0 auto;
    width: 360px;
    height: 740px;
    background-color: white;
    border-radius: 30px;
}
.top {
    width: 360px;
    height: 160px;
    position: absolute;
    background-color: white;
    border-radius: 30px;
}
.bar {
    width: 330px;
    height: 35px;
    margin-left: 15px;
    position: absolute;
    background: #A3D0FF;
    border-radius: 30px 30px 0px 0px;
}
.hallo {
    margin-top: 182px;
    margin-left: 44px;
    color: rgba(25, 55, 109, 1);
    position: absolute;
    font-size: 16px;
    font-family: Inter;
    font-weight: normal;
}
.nama {
    margin-top: 206px;
    margin-left: 44px;
    color: rgba(17, 93, 169, 1);
    position: absolute;
    font-size: 20px;
    font-family: Inter;
    font-weight: bold;
}
.username {
    margin-top: 235px;
    margin-left: 44px;
    color: rgba(87, 108, 188, 1);
    position: absolute;
    font-size: 16px;
    font-family: Inter;
    font-weight: normal;
}
.password{
    margin-top: 304px;
    margin-left: 48px;
    color: #115DA9;
    position: absolute;
    font-size: 11px;
    font-family: Inter;
    font-weight: semi bold;
    background-color: white;
}
.input-password .input{
    width: 300px;
    margin-top: 310px;
    margin-left: 30px;
    height: 40px;
    border: 2px solid;
    border-radius: 10px;
    border-color:#115DA9 ;
    font-size: 14px;
    background: white;
    position: absolute;
    font-family: Inter;
}
.reset-password {
    margin-top: 360px;
    margin-left: 210px;
    color: #576CBC;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: normal;
}
.submit{
    position: absolute;
    width: 235px;
    height: 39px;
    margin-left: 30px;
    margin-top: 389px;
    background: #115DA9;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.fingerprint {
    margin-top: 390px;
    margin-left: 275px;
    width: 41px;
    height: 39px;
    position: absolute;
}
.akunlain {
    position: absolute;
    margin-left: 60px;
    margin-top: 450px;
    font-family: Inter;
    font-weight: bold;
    font-size: 13px;
    color: #000000;
}
.flazz {
    margin-top: 658px;
    margin-left: 25px;
    width: 35px;
    height: 25px;
    position: absolute;
}
.flazz1 {
    margin-top: 580px;
    margin-left: 15px;
    width: 210px;
    height: 145px;
    position: absolute;
}
.flazz2 {
    margin-top: 665px;
    margin-left: 62px;
    width: 32px;
    height: 10px;
    position: absolute;   
}
.perbarui-password {
    width: 300px;
    color: #bd9562;
    position: absolute;
    font-size: 13px;
    text-align: left;
    font-family: Inter;
    font-weight: normal;
    margin-top: 480px;
    margin-left: 30px;
    background-color: #faf5cd;
    padding-top: 10px;
    padding-left: 42px;
    padding-right: 16px;
    padding-bottom: 15px;
}
.tanda-seru {
    margin-top: 488px;
    margin-left: 35px;
    width: 27px;
    height: 25;
    position: absolute;
}
.informasi {
    width: 300px;
    color: #2b5f93;
    position: absolute;
    font-size: 13px;
    text-align: left;
    font-family: Inter;
    font-weight: bold;
    margin-top: 550px;
    margin-left: 30px;
    text-decoration: underline;
    background-color: #faf5cd;
    padding-left: 42px;
    padding-right: 66px;
    padding-bottom: 10px;
}
.myBCA {
    margin-top: 610px;
    margin-left: 130px;
    color: #b0b0b0;
    position: absolute;
    font-size: 12px;
    font-family: Inter;
    font-weight: normal;
    text-decoration: underline;
    background-color: whitesmoke;
    border-radius: 6px;
}
.customer-service {
    margin-top: 657px;
    margin-left: 135px;
    width: 25px;
    height: 25px;
    position: absolute;
}
.customer-service1 {
    margin-top: 580px;
    margin-left: 120px;
    width: 225px;
    height: 145px;
    position: absolute;
}
.customer-service2 {
    margin-top: 662px;
    margin-left: 165px;
    width: 38px;
    height: 18px;
    position: absolute; 
}
.kartu-kredit {
    margin-top: 657px;
    margin-left: 248px;
    width: 25px;
    height: 25px;
    position: absolute;
}
.kartu-kredit1 {
    margin-top: 578px;
    margin-left: 233px;
    width: 235px;
    height: 145px;
    position: absolute;
}
.kartu-kredit2 {
    margin-top: 660px;
    margin-left: 278px;
    width: 47px;
    height: 18px;
    position: absolute;
}
.garis6 {
    width: 80px;
    position: absolute;
    margin-left: 140px;
    margin-top: 711px;
}
