.wrapper {
    margin: 0 auto;
    width: 360px;
    height: 740px;
    background-color: #065EA6;
    border-radius: 30px;
}
.bar {
    width: 330px;
    height: 35px;
    position: absolute;
    background: #065EA6;
    border-radius: 30px 30px 0px 0px;
    margin-left: 15px;
}
.container {
    width: 360px;
    height: 680px;
    margin-top: 60px;
    position: absolute;
    background: white;
    border-radius: 10px 10px 30px 30px;
}
.history {
    margin-top: 30px;
    margin-left: 150px;
    color: white;
    position: absolute;
    font-size: 15px;
    font-family: Inter;
    font-weight: bold;
}
.back {
    margin-top: 30px;
    margin-left: 20px;
    width: 25px;
    height: 27px;
    position: absolute;
}
.tanggal {
    margin-top: 15px;
    margin-left: 20px;
    color: #6E718E;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: bold;
}
.penerima {
    margin-top: 17px;
    margin-left: 90px;
    color: #065EA6;
    position: absolute;
    font-size: 18px;
    font-family: Inter;
    font-weight: bold;
}
.total-harga {
    margin-top: 35px;
    margin-left: 90px;
    color: #000000;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: normal ;
}
.tipe {
    margin-top: 65px;
    margin-left: 90px;
    color: #6E718E;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: normal ;
}
.status {
    width: 150px;
    color: #C34C00;
    position: absolute;
    font-size: 14px;
    text-align: left;
    font-family: Inter;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 90px;
    background-color: #F9D2D0;
    padding-top: 11px;
    padding-left: 55px;
    padding-bottom: 11px;
    border-radius: 12px;
}
.arrow {
    margin-top: 60px;
    margin-left: 310px;
    width: 20px;
    height: 25px;
    position: absolute; 
}
.garis {
    width: 360px;
    position: absolute;
    margin-top: 140px;
}
.tanggal2 {
    margin-top: 170px;
    margin-left: 20px;
    color: #6E718E;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: bold;
}
.penerima2 {
    margin-top: 172px;
    margin-left: 90px;
    color: #065EA6;
    position: absolute;
    font-size: 18px;
    font-family: Inter;
    font-weight: bold;
}
.total-harga2 {
    margin-top: 190px;
    margin-left: 90px;
    color: #000000;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: normal ;
}
.tipe2 {
    margin-top: 220px;
    margin-left: 90px;
    color: #6E718E;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: normal ;
}
.status2 {
    width: 150px;
    color: #92BA1E;
    position: absolute;
    font-size: 14px;
    text-align: left;
    font-family: Inter;
    font-weight: bold;
    margin-top: 245px;
    margin-left: 90px;
    background-color: #EBF4E1;
    padding-top: 11px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 11px;
    border-radius: 12px;
}
.arrow2 {
    margin-top: 220px;
    margin-left: 310px;
    width: 20px;
    height: 25px;
    position: absolute; 
}
.garis2 {
    width: 360px;
    position: absolute;
    margin-top: 295px;
}
.tanggal3 {
    margin-top: 325px;
    margin-left: 20px;
    color: #6E718E;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: bold;
}
.penerima3 {
    margin-top: 327px;
    margin-left: 90px;
    color: #065EA6;
    position: absolute;
    font-size: 18px;
    font-family: Inter;
    font-weight: bold;
}
.total-harga3 {
    margin-top: 345px;
    margin-left: 90px;
    color: #000000;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: normal ;
}
.tipe3 {
    margin-top: 375px;
    margin-left: 90px;
    color: #6E718E;
    position: absolute;
    font-size: 14px;
    font-family: Inter;
    font-weight: normal ;
}
.status3 {
    width: 150px;
    color: #92BA1E;
    position: absolute;
    font-size: 14px;
    text-align: left;
    font-family: Inter;
    font-weight: bold;
    margin-top: 400px;
    margin-left: 90px;
    background-color: #EBF4E1;
    padding-top: 11px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 11px;
    border-radius: 12px;
}
.arrow3 {
    margin-top: 375px;
    margin-left: 320px;
    width: 20px;
    height: 25px;
    position: absolute; 
}
.garis3 {
    width: 360px;
    position: absolute;
    margin-top: 450px;
}
.nav-bar {
    width: 340px;
    height:83px;
    margin-top: 550px;
    margin-left: 9px;
}
.garis4 {
    width: 80px;
    position: absolute;
    margin-left: 140px;
    margin-top: 20px;
}
